<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AI9_Avance_de_reporte.My.MySettings.Conexion" connectionString="Data Source=DESKTOP-1SVOBB8;Initial Catalog=Pventa;User ID=sa;Password=MarcoUriel@030681;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>